<div class="wrapper">

<div id="content">
  <p id="welcome">Which Do You Wanna Watch...?</p>
  <div id="info">⬇️ Choose a Keyword! ⬇️</div>  
</div>

<div class="top-menu__wrapper">
  <div id="top-menu">
    <ul>
      <li id="search"><input type="text" id="search-box" placeholder="検索（キーワード、タイトル名、メモの内容）"></li>
      <li><%= button_to "動画を登録", new_video_path, method: :get, class: "menu-btn"%></li>
      <li><%= button_to "アカウント設定", edit_user_registration_path, method: :get, class: "menu-btn" %></li>
      <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}, class: "menu-btn" %></li>
    </ul>
  </div>
</div>

<section>
  <div class="video-info__space">
    <% if flash[:notice] %>
        <div class="flash video-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
  <h2><%= current_user.name %>さんの動画登録数:<%= @videos.length %></h2>
  <table border="4">
    <% if current_user.videos.length > 0 %>
      <tr>
        <th>キーワード<br>（クリックで再生）</th>
        <th>動画タイトル</th>
        <th>メモ</th>
        <th class="t-btn">削除</th>
        <th class="t-btn">編集</th>
      </tr>
      <% @videos.each do |video|%>
        <tr class="video-content">
          <td class="word"><%= video.word %></td>
          <td class="title"><%= video.title %></td>
          <td class="note"><%= video.note %></td>
          <td><%= button_to "削除", "/videos/#{video.id}", method: :delete , data: {confirm: "#{video.title}を削除します。よろしいですか？"}, class: "delete" %></td>
          <td><%= button_to "編集", "/videos/#{video.id}/edit", method: :get, class: "edit"%></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</section>
