.wrapper
  #display
    %p#display__msg Which Do You Wanna Watch...?
    #display__info ⬇️ Choose a Keyword! ⬇️
  #top-menu__wrapper
    #top-menu
      #search
        %input#search-box{:placeholder => "検索（キーワード、タイトル名、メモの内容）", :type => "text"}/
      %ul
        %li= link_to "動画を登録", new_video_path, method: :get, class: "menu-btn"
        %li= link_to "アカウント編集", edit_user_registration_path, method: :get, class: "menu-btn"
        %li= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"}, class: "menu-btn"
  %section

    #index-flash
      - if flash[:notice]
        #index-flash__msg
          = flash[:notice]

    %h2#title-count
      = current_user.name
      さんの動画登録数：#{@videos.length}件

    %table{:border => "4"}
      - if current_user.videos.length > 0
        %tr
          %th
            キーワード
            %br>/
            （音声orクリックで再生）
          %th 動画タイトル
          %th メモ
          %th.btn-menu 削除
          %th.btn-menu 編集
        = render @videos
          